
.cards {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.product-card {
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 25px 15px;
    margin: 10px;
    width: 17vw;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-card:hover {
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.product-card .image {
    width: 100%;
    height: 250px;              
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;        
    border-radius: 8px;
    overflow: hidden;
}

.product-card .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;       
}

.product-card .name {
    font-size: 1.0em;
    margin: 10px 0;
    text-align: justify;
    font-weight: bold;
    color: #1E1E2F;
    width: 100%;
    flex-wrap: wrap;
}

.product-card .infos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between!important;
    align-items: center;
    margin-top: 20px;
}

.product-card .infos .price {
    display: flex;
    align-items: center;
    gap: 0px 5px;
}

.product-card .infos .price .value {
    font-size: 1.4em;
    color: #4caf50;
    font-weight: bold;
}

.product-card .infos .options {
    display: flex;
    gap: 0px;
}

.product-card .infos .options .option-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s ease, color 0.2s ease;
}

.product-card .infos .options {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.product-card:hover .infos .options {
    opacity: 1;
    pointer-events: auto;
}


/* Visualizar */
.product-card .infos .options .view {
    color: #4caf50;
}

.product-card .infos .options .view:hover {
    background: rgba(25, 118, 210, 0.1);
}

/* Editar */
.product-card .infos .options .edit {
    color: #4caf50;
}

.product-card .infos .options .edit:hover {
    background: rgba(249, 168, 37, 0.15);
}

/* Deletar */
.product-card .infos .options .delete {
    color: #4caf50;
}

.product-card .infos .options .delete:hover {
    background: rgba(211, 47, 47, 0.15);
}
